.App {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  max-width: 800px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
